{% extends 'base/main.html' %} {% load static %} {% block content %}

<div class="content">
  <div class="basic-info">
    <div class="lg-view">
      <!-- <i class="fas fa-ellipsis-v"></i> -->
      <div class="right">
        <div class="menu-setting-ab hide">
          {% if favorite|length > 0 %}
            <span class="favorite this">المفضلة</span>
          {% else %} 
            <span class="favorite">المفضلة</span>
          {% endif %}
          {% if watchNow|length > 0 %}
            <span class="watchNow this">اشاهدها حاليا</span>
          {% else %}
            <span class="watchNow">اشاهدها حاليا</span>
          {% endif %}
          {% if wantWatch|length > 0%}
            <span class="wantWatch this">ارغب بمشاهدتها</span>
          {% else %}
            <span class="wantWatch">ارغب بمشاهدتها</span>
          {% endif %}
          {% if watched|length > 0%}
            <span class="watched this">تمت مشاهدتها</span>
          {% else %}
            <span class="watched">تمت مشاهدتها</span>
          {% endif %}
        </div>
        <img src="{{this_anime.image}}" alt="" />
        <span class="add-to">اضف الى</span>
        {% if this_anime.trailer %}
          <a href="{{this_anime.trailer}}" class="myanimelist">trailer</a>
        {% endif %}
          

      </div>
      <div class="left">
        <span class="title">{{this_anime.title}}</span>
        <div class="categorys">

          {% for cat in this_anime.categories.all %}
          <a href="/{{cat.slug}}">{{cat}}</a>
          {% endfor %}

        </div>
        <div class="story">
          <span>{{this_anime.story}}</span>
        </div>
        <div class="prop">
          <div class="milt">
            <span>النوع: </span>
            <span class="type">{{this_anime.Type}}</span>
          </div>
          <div class="milt">
            <span>الحالة: </span>
            <span class="statu">{{this_anime.status}}</span>
          </div>
          <span>الحلقات: {{this_anime.episodes}}</span>
          <span>المدة: {{this_anime.duration}} </span>
          <div class="milt">
            <span>الموسم: </span>
            <span class="sesion">{{this_anime.season}}</span>
          </div>
          <span>تاريخ النشر: {{this_anime.year}}</span>
        </div>
      </div>
    </div>
    <div class="md-view">
      <!-- menu -->
      
      <div class="top">
        <div class="right">
          <div class="menu-setting-ab hide">
            {% if favorite|length > 0 %}
              <span class="favorite this">المفضلة</span>
            {% else %} 
              <span class="favorite">المفضلة</span>
            {% endif %}
            {% if watchNow|length > 0 %}
              <span class="watchNow this">اشاهدها حاليا</span>
            {% else %}
              <span class="watchNow">اشاهدها حاليا</span>
            {% endif %}
            {% if wantWatch|length > 0%}
              <span class="wantWatch this">ارغب بمشاهدتها</span>
            {% else %}
              <span class="wantWatch">ارغب بمشاهدتها</span>
            {% endif %}
            {% if watched|length > 0%}
              <span class="watched this">تمت مشاهدتها</span>
            {% else %}
              <span class="watched">تمت مشاهدتها</span>
            {% endif %}
          </div>
          <img src="{{this_anime.image}}" alt="" />
          <span class="add-to">اضف الى</span>
        </div>
        <div class="left">
          <span class="title">{{this_anime.title}}</span>
          <div class="prop">
            <span class="type">{{this_anime.Type}}</span>
            <span class="statu">{{this_anime.status}}</span>
            <span>الحلقات: {{this_anime.episodes}}</span>
            <span class="sesion">{{this_anime.season}}</span>
          </div>
        </div>
      </div>
      <div class="center">
        <div class="story">
          <span>{{this_anime.story}}</span>
        </div>
      </div>
      <div class="bottom">
        <div class="categorys">
          {% for cat in this_anime.categories.all %}
          <a href="/{{cat.slug}}">{{cat}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="episodes">
      <div class="searsh">
        <span>حلقات الأنمي</span>
        <input
          id="epispdeNumber"
          type="number"
          placeholder="ابحث برقم الحلقة"
        />
      </div>
      <div class="all">
        {% for episode in episodes %}
            {% url 'episode_app:episode' episode.slug as url_watch %}
            {% url 'comments_app:Comments_main' episode.slug as url_comments %}
            <div class="cont">
              <div class="ep">
                <a class="watch" href="{{url_watch}}">{{episode.number}}</a>
                <a href="{{url_comments}}" class="commets" ><i class="fas fa-comment-alt"></i></a>
              </div>
            </div>
        {% endfor %}
        <span class="box-null null-ep hide" style="display: inline-block;">لم يتم العثور عى الحلقة</span>
      </div>
    </div>
  </div>
  <!-- recommended animes -->
  <span class="secend">انميات مقترحة</span>
  <div class="row">
    {% for anime in recommended_animes.anime.all %}
    {% url 'anime_info_app:anime_info' anime.slug as url %}
    <a href="{{url}}" class="anime js-cut" title="{{anime.title}}">
      <div class="anime-logo">
        <img src="{{anime.image}}" alt="" />
        <div class="episode"><span></span></div>
      </div>
      <div class="star">
        {% if anime.rating == '' %}
          <span>-/-</span><i class="fas fa-star"></i>
        {% endif %}
        {% if anime.rating|length == 1 %}
          <span>{{anime.rating}}.0</span><i class="fas fa-star"></i>
        {% endif %}
        {% if anime.rating|length > 1 and anime.rating != '' %}
          <span>{{anime.rating}}</span><i class="fas fa-star"></i>
        {% endif %}
      </div>
      <div class="reset"></div>
      <div class="simple-info">
        <span class="title tc-js" title="{{anime.title}}">{{anime.title}}</span
        ><span class="type">{{anime.Type}}</span>
      </div>
    </a>
    {% endfor %}
  </div>

</div>
<!-- data sender -->
<form method="post" style="display:none" id="user-profile-data-anime-sh">
  {% csrf_token %}
  <input type="text" name="user-profile-data-anime-sh" anime_title='{{anime.title}}'>
  <input type="submit">
</form>

{% endblock content %}
